<% if obj.errors.any? %>
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">
                    <h2 class="card-title">
                        <%= pluralize(obj.errors.count, "error") %>
                        prohibited this article from being saved:
                    </h2>
                    <div class="card-body">
                        <ul>
                            <% obj.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
